{% extends "EtnaMathsBundle:Layout:main_layout.html.twig" %}

{% block body -%}
    <section id="container" class="">
    <section id="main-content">
        <section class="wrapper site-min-height">
            <!-- page start-->
            <section class="panel">
                <header class="panel-heading">
                    Calcul de racines entières
                </header>
                <div class="panel-body">
                    <div class="adv-table editable-table ">
                        <div class="clearfix">
                            <div class="btn-group">
                                <button id="editable-sample_new" class="btn green">
                                    Ajouter un nouveau polynome <i class="fa fa-plus"></i>
                                </button>
                            </div>
                            <div class="btn-group pull-right">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">Outils <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#">Print</a></li>
                                    <li><a href="#">Save as PDF</a></li>
                                    <li><a href="#">Export to Excel</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="space15"></div>
                        <table class="table table-striped table-hover table-bordered" id="editable-sample">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>X3</th>
                                <th>X2</th>
                                <th>X1</th>
                                <th>X0</th>
                                <th>racine(s) entière(s)</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entities | length > 0 %}
                                {% for rowDigit in entities %}
                                    <tr>
                                    {% if rowDigit|length > 0 %}
                                        <td class="polyname">{{ rowDigit.nom }}</td>
                                        {% for digit in rowDigit.digits %}
                                                <td class="x{{ loop.index }}">
                                                    {{ digit|raw }}
                                                </td>
                                        {% endfor %}
                                        <td class="result{{ loop.index }}">{{ rowDigit.resultat }}</td>
                                        <td class="action-col">
                                            <div class="edit btn btn-success btn-xs center"><i class=" fa fa-pencil"></i></div>
                                            <div class="cancel btn btn-danger btn-xs center"><i class="fa fa-chain-broken"></i></div>
                                            <div class="play btn btn-info btn-xs center">=</div>
                                            <div class="save btn btn-warning btn-xs center"><i class="fa fa-save"></i></div>
                                            <div class="del btn btn-danger btn-xs center"><i class="fa fa-trash-o"></i></div>
                                            <input type="hidden" class="index" value="{{ loop.index }}"/>
                                        </td>
                                    {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                tableau vide
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            Etna promo -  2015
            <a href="#" class="go-top">
                <i class="fa fa-angle-up"></i>
            </a>
        </div>
    </footer>
    <!--footer end-->
    </section>

{% endblock %}
{%  block javascripts %}
    {{ parent() }}
        <script>
            jQuery(document).ready(function() {
                var active = false;

                    $('.edit').on('click', function(e) {
                        $(this).parent().parent().find('td').each(function(index) {
                            if (index <= 4 && active == false) {
                                //var contenthtml = trim(this.innerHTML);
                                $(this).replaceWith($('<td class="x'+index+'"><input type="text" class="field" style="width: 50px;" value="'+ $.trim(this.innerHTML)+'" /></td>'));
                            }
                        });
                        active = true;
                    });

                    $('.cancel').on('click', function(e) {
                        $('.field').each(function(index) {
                            if (index <= 4 && active == true) {
                                $(this).replaceWith(($(this).val()));
                            }
                        });
                        active = false;
                    });

                    $('.action-col').on('click','.play', function(e) {
                        var x0 = $(this).closest('tr').find('.x4').text();
                        var x1 = $(this).closest('tr').find('.x3').text();
                        var x2 = $(this).closest('tr').find('.x2').text();
                        var x3 = $(this).closest('tr').find('.x1').text();
                        var x4 = $(this).closest('tr').find('.x0').text();
                        var imgpath = "<img src=\"{{ asset('bundles/etnamaths/images/input-spinner.gif')}}\" />";
                        var indiceRow = $(this).closest('tr').find('.index').val();
                        $('.result'+indiceRow).html(imgpath);
                        $.ajax({
                            type: "POST",
                            url: "{{ path('show_polynome_result') }}",
                            data: { x3: x3, x2: x2, x1: x1, x0: x0 }
                        })
                        .done(function( result ) {
                            if (result != "") {
                                $('.result'+indiceRow).text(result);
                            }
                            else {
                                $('.result'+indiceRow).text("Aucune");
                            }

                        });
                    });

                $('.save').on('click', function(e) {
                    alert('sauvegarde de la ligne en base de données');
                    //console.log($('.save').closest('tr').find('td').text());
                    var aAllRows = $(this).closest('tr').find('td');
                    var diff = 0;
                    var x0, x1, x2, x3, polyname;
                    aAllRows.each(function(index)
                    {
                        switch (4-index)
                        {
                            case 0 :
                                alert('a 0 '+$(this).text());
                                x0 = $(this).text();
                                break;
                            case 1 :
                                alert('a 1 '+$(this).text());
                                x1 = $(this).text();
                                break;
                            case 2 :
                                alert('a 2 '+$(this).text());
                                x2 = $(this).text();
                                break;
                            case 3 :
                                alert('a 3 '+$(this).text());
                                x3 = $(this).text();
                                break;
                            case 4 :
                                alert('a 4 '+$(this).text());
                                polyname = $(this).text();
                                break;
                        }
                    });

                    $.ajax({
                        type: "PUT",
                        url: "{{ path('save_data') }}",
                        data: { polyname: polyname, x3: x3, x2: x2, x1: x1, x0: x0 }
                    })
                    .done(function( result ) {
                        console.log('resultat:');
                        console.log(result);
                        //$('.result'+indiceRow).text(result);
                    });
                });

                // Voir la technique de Madeleine pour le clonage de template.
                var form = '<tr class="rowtoadd"><td><input type="text" class="polyname field" name="poly-name" value="" style="width: 100px;"/></td><td class="x3"><input class="field" type="text" name="x3" value="" style="width: 30px;"/></td><td class="x2"><input class="field" type="text" name="x2" value="" style="width: 30px;"/></td><td class="x1"><input class="field" type="text" name="x1" value="" style="width: 30px;"/></td><td class="x0"><input class="field" type="text" name="x0" value="" style="width: 30px;"/></td><td class="result">0</td><td class="action-field action-col"></div><div class="add btn btn-info btn-xs center"> <i class="fa fa-plus"></i> </div></td></tr>';
                $('#editable-sample_new').on('click', function(e) {
                    console.log(form);
                    $('tbody').append(form);
                });

                $('tbody').on('click', '.add',function(e) {

                    var x3 = $(this).closest('tr').find('.x0 input').val();
                    var x0 = $(this).closest('tr').find('.x3 input').val();
                    var x1 = $(this).closest('tr').find('.x2 input').val();
                    var x2 = $(this).closest('tr').find('.x1 input').val();
                    var polyname = $(this).closest('tr').find('.polyname').val();

                    console.log('check les results:'+x3+''+x2+''+x1+''+x0+''+polyname);
                    //console.log($('.field'));

                    $('.field').each(function(index){
                        console.log($(this));
                        $(this).replaceWith(($(this).val()));
                        // $(this).closest('tr').replaceWith($('<td class="x'+index+'"><input type="text" class="field" style="width: 50px;" value="'+ $.trim(this.innerHTML)+'" /></td>'));
                    });

                    console.log($('.action-field').html());
                    $('.action-field').replaceWith('<td class="action-col"><div class="edit btn btn-success btn-xs center"><i class=" fa fa-pencil"></i></div> <div class="cancel btn btn-danger btn-xs center"><i class="fa fa-chain-broken"></i></div> <div class="play btn btn-info btn-xs center">=</div> <div class="save btn btn-warning btn-xs center"><i class="fa fa-save"></i></div> <div class="del btn btn-danger btn-xs center"><i class="fa fa-trash-o"></i></div></td>');
                    $.ajax({
                        type: "POST",
                        url: "{{ path('add_polynome_raw') }}",
                        data: { polyname: polyname, x3: x3, x2: x2, x1: x1, x0: x0 }
                    })
                    .done(function( result ) {
                        console.log('coucou raw');
                        });
                    });

                    $('.del').on('click', function(e) {
                        var polyname = $(this).closest('tr').find('.polyname').text();
                        var x1 = $(this).closest('tr').find('.x3').text();
                        var x2 = $(this).closest('tr').find('.x2').text();
                        var x3 = $(this).closest('tr').find('.x1').text();
                        var x0 = $(this).closest('tr').find('.x0').text();

                        $(this).closest('tr').remove();

                        $.ajax({
                            type: "DELETE",
                            url: "{{ path('delete_polynome_raw') }}",
                            data: { x3: x3, x2: x2, x1: x1, x0: x0, polyname: polyname }
                        })
                                .done(function(result) {
                                    //alert ("FAIRE POPIN DE CONFIRMATION DE SUPPRESSION");
                                });
                    });
            });
        </script>
{% endblock javascripts %}
